.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-size);
}

.col {
  flex: 1;
  padding: 20px;
}

.col-1 {
  flex: 0 0 calc(8.33% - var(--gap-size));
}
.col-2 {
  flex: 0 0 calc(16.66% - var(--gap-size));
}
.col-3 {
  flex: 0 0 calc(25% - var(--gap-size));
}
.col-4 {
  flex: 0 0 calc(33.33% - var(--gap-size));
}
.col-6 {
  flex: 0 0 calc(50% - var(--gap-size));
}
.col-12 {
  flex: 0 0 100%;
}

@media (max-width: 768px) {
  .section-tow-col h2 {
    font-size: 32px !important;
    line-height: 42px !important;
  }
  .col-4 {
    flex: 0 0 calc(50% - var(--gap-size));
  }
  .col-6 {
    flex: 0 0 100%;
  }
}

@media (max-width: 480px) {
  .col-4,
  .col-6,
  .col-12 {
    flex: 0 0 100%;
  }
}
